.validation {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sofia Sans", sans-serif;
}
.form {
  background-color: none;
  width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (width < 800px) {
    width: 80vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;

  @media (width < 800px) {
    flex-direction: column;
  }
}

.premium {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (width < 800px) {
    width: 80vw;
  }
}
.error {
  color: red;
}
.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.input {
  padding: 10px;

  width: 50%;

  background: transparent;
  border: none;
  color: white;

  @media (width < 1000px) {
    width: 80%;
  }
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

.button {
  margin-top: 40px;
  margin-bottom: 20px;

  border-radius: 10px;
  background-color: #84b6df;
  width: 180px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}

.button:disabled {
  background-color: #878788;
}
